<h1><%= @item.name %></h1>

<h3>Price: $<%= @item.price %></h3>
<h3>Brand: <%= @item.brand %></h3>
<h3>Color: <%= @item.color %></h3>
<h3>Size: <%= @item.size %></h3>
<%= image_tag (@item.img_url) %> <br> <br>

<h3>All Reviews:</h3>
<% @item.reviews.each do |review| %>

<p>
User Name: <%= review.user_name %><br>
Rating: <%= review.rating %><br>
Review: <%= review.review %><br>
<% end %>
<p>

<%= button_to "Write a review", new_review_path(@item), :method => :get %><br>


<%= button_to "Edit", edit_item_path, :method => :get %><br>
<%= button_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %><br>



